services:
  reallocation_bot:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - USE_AWS_SECRETS=true
      - AWS_REGION=eu-west-2
    volumes:
      - ~/.aws:/root/.aws:ro
